html, body {
  height: 100%;
  /*font-family: 'Montserrat', sans-serif !important;*/
}

//body::-webkit-scrollbar-track
//{
//  background: transparent;
//}
//
//body::-webkit-scrollbar {
//    width: 12px;
//    //background-color: #007e8a;
//}
//
//body::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//  background-color: #007e8a;
//}

a {
  color: inherit !important;
  font-style: oblique;
  font-weight: bold;
}

a:hover {
  text-decoration: underline !important;
}

.arlex-center-btn {
  display: flex;
  justify-content: center;
}

$mdc-theme-primary: #033F63;
$mdc-theme-secondary: #fafafa;
$mdc-theme-on-primary: #fafafa;
$mdc-theme-on-secondary: #033F63;


:root {
  //--mdc-theme-primary: #00838f !important;
  --mdc-theme-primary: #033F63 !important;
  --mdc-theme-secondary: #fafafa !important;
  --mdc-theme-on-primary: #fafafa !important;
  //--mdc-theme-on-secondary: #00838f !important;
  --mdc-theme-on-secondary: #033F63 !important;
}
.mdc-floating-label--float-above, .mdc-floating-label--float-above::after {
  /*will-change: unset;*/
  color: var(--mdc-theme-primary) !important;
}

.mdc-text-field, .mdc-text-field-helper-text {
  display: flex !important;
  width: 100% !important;
  margin: 2px auto !important;
}

.mdc-top-app-bar .mdc-tab-indicator--active .mdc-tab-indicator__content--underline {
  border-color: white !important;
}

.mdc-top-app-bar .mdc-tab__text-label,
.mdc-top-app-bar .mdc-tab__icon{
  /*--mdc-theme-primary: #008fdc !important;*/
  color: rgba(255, 255, 255, 0.51) !important;
}

.mdc-top-app-bar .mdc-tab--active .mdc-tab__text-label,
.mdc-top-app-bar .mdc-tab--active .mdc-tab__icon{
  /*--mdc-theme-primary: #008fdc !important;*/
  color: white !important;
}

.mdc-layout-grid__cell {
  margin: 0 auto !important;
}

.mdc-card-info {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.mdc-card__title {
  /*color: white;*/
}

form {
  .mdc-layout-grid__cell {
    width: 100% !important;
    margin: 0 !important;
  }
}

.mdc-card__primary-action, .mdc-card__media img {
  width: 100%;
  min-height: 100%;
}

.mdc-card {
  width: 250px;
  height: 250px;
  border-radius: 50% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s;
  background-color: transparent !important;
}

.mdc-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.demo-card__secondary {
  padding-top: 1rem;
}

.arlex-chipset-name {
  justify-content: center;
}

.arlex-separator {
  border: 0;
  width: 150px;
  height: 0;
  box-shadow: 0 0 1px 2px;
}

.arlex-separator:after {
  content: "\00a0";
}

.arlex-faq ul {
  margin-bottom: 0;
}

.arlex-faq {
  color: var(--mdc-theme-on-secondary);
  background-color: var(--mdc-theme-secondary);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.arlex-faq-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold !important;
}

.arlex-faq-response {
  padding-bottom: 10px;
}

footer {
  //height: 150px;
    padding: 55px 50px !important;
    text-align: left;
    width: 100%;
    margin-top: 80px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font: normal 16px sans-serif;
}

.arlex-footer {
    &-left {
        vertical-align: top;
        display: inline-block;
        width: 40%;
        a {
            font-style: normal;
        }
        @media screen and (max-width: 880px) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &-center {
        vertical-align: top;
        display: inline-block;
        width: 30%;
        ul {
            padding-left: 0;
            list-style-type: none;
        }
        li {
            padding-top: 15px;
            a {
            font-style: normal;
            }
        }
        @media screen and (max-width: 880px) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &-right {
        vertical-align: top;
        display: inline-block;
        padding-left: 5px;
        width: 25%;
        @media screen and (max-width: 880px) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &-social {
        display: inline-block;
        margin: 10px 15px;
        a {
            display: inline-block;
            text-align: center;
            width: 35px;
            height: 35px;
            background-color: darken($mdc-theme-secondary, 10%);
            border-radius: 2px;
            font-size: 20px;
            line-height: 35px;
        }
    }
    &-infos {
        i {
            margin: 10px 15px;
            text-align: center;
            width: 38px;
            height: 38px;
            background-color: darken($mdc-theme-secondary, 10%);
            border-radius: 50%;
            font-size: 20px;
            line-height: 38px;
        }
        a {
            font-style: normal;
        }
    }
}

@media (min-width: 840px) {
  .arlex-align-3-11 {
    grid-column-start: 3 !important;
    grid-column-end: 11 !important;
  }
}

@for $i from 0 through 50 {

  .arlex-mrt-#{$i} {
    margin-top: $i +px !important;
  }

  .arlex-mrt-n-#{$i} {
    margin-top: -$i +px !important;
  }

  $i : $i + 5;
}