<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Dev AREA 2018</title>
    <link href="/public/stylesheets/index.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- jQuery integration -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- header -->
    <div class="row">
        <div class="col-lg-2 mx-auto">
            <a href="#" class="dashboardtitle">Notre équipe</a>
        </div>
        <div class="col-lg-1 mx-auto">
            <a href="#" class="dashboardtitle">FAQ</a>
        </div>

        <div class="col-lg-2 mx-auto">
            <a href="#" class="dashboardtitle">Contact</a>
        </div>
    </div>
</div>
</body>