html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

.container {
    max-width: 100% !important;
    width: 100% !important;
    min-height: 100vh;
    margin: 0;
    padding: 0 !important;
}

.row {
    width: 100% !important;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0 !important;
}

.navpage {
    background-color: darkgray;
    font-weight: bold;
}

.dashboardtitle {
    color: black;
}

.dashboardtitle:hover {
    color: black;
    text-decoration: none;
}

.center {
    text-align: center;
}

.description {
    min-height: 75vh !important;
    height: 75vh !important;
}

.arlex-title {
    margin-top: 10vh;
}

.arlex-text {
    margin-top: 5vh;
}

.arlex-input {
    border-radius:10px;
}

.notre-equipe, .faq, .center {
    min-height: 60vh !important;
}

#link-arlex, #link-notre-equipe:hover, #link-contact:hover, #link-faq:hover {
    cursor: pointer;
}

.maxheightphotos {
    margin: 100px 0 !important;
}

.maxheightphotos img {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    display: block;
    margin: 0;
}

.offset-lg-1 {
    margin-left: 6.5% !important;
}

figcaption {
    padding-top: 20px;
}

.arlex-text, .notre-equipe-text {
    padding-left: 20vh;
    padding-right: 20vh;
    margin-top: 4vh;
}